* {
  border: 1px solid red;
  text-align: center;
}

.contenedor-princial {
  display: flex;
  flow-direction: column;
}

.aside-item {
  flex-grow: 1;
}

.main-item {
  flex-grow: 1;
}

.row-display {
  display: flex;
  flow-direction: row;
}
